language: python
python:
    - "3.4"
dist: trusty
sudo: required

git:
  submodules: true


addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9

install:
  - echo $TRAVIS_PYTHON_VERSION
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
  - make install

